@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body.no-scroll {
  overflow: hidden;
}

.panel {
  max-height: calc(100vh - 150px); 
  overflow-y: auto;
}

.panel-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f7fafc; 
  padding: 10px 20px;
  font-weight: bold;
  border-bottom: 1px solid #e5e7eb; 
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
}

.panel-content {
  overflow-y: auto; 
  scrollbar-width: thin; 
}

/* Styling for webkit-based browsers (Chrome, Safari) */
.panel-content::-webkit-scrollbar {
  width: 4px;
}

.panel-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 2px; 
}

.panel-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); 
}


.wat-movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
}

.rec-movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
}
.movie-item {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin-top: 10px;
}

.movie-item img {
  width: 100px;
  height: auto;
}

.movie-title {
  font-size: 14px;
  text-align: left;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


